/* Import font from google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


/* Basic reset */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #6a707d;
}

/* 
    Utility
    Classes
*/

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.u-text-blue {
    color: #4ca9ff;
}

.u-pl-lg {
    padding-left: 96px;
}

.u-mt-lg {
    margin-top: 60px;
}

/* 
    Grid
*/

.row::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 100%;
}

/* 2 Columns */

.col-1-of-2 {
    width: calc(100% / 2);
}

/* 3 Columns */

.col-1-of-3 {
    width: calc(100% / 3);
}

.col-2-of-3 {
    width: calc((100% / 3) * 2); 
}

/* 4 Columns */
.col-1-of-4 {
    width: calc(100% / 4);
}

/* Styles */

/* 
    Colors:
        blue: #4ca9ff;
        blue-dark: #40485a;
        purple-dark: #4a24a8;
        
    Radial Gradient:
        inner: #4723a3;
        outer: #2a1877;
*/
.main-header {
    height: 850px;
    
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 30px 0;

    position: relative;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-header__logo {
    float: left;
}

.main-header__logo-img {
    width: 130px;
}

.main-header__menu-btn {
    float: right;

    border: none;
    background-color: transparent;
    cursor: pointer;

    margin-top: 12px;
}

.main-header__menu-text {
    font-family: inherit;
    font-weight: 400;
    color: #fff;
    font-size: 18px;

    margin-right: 18px;

    transition: color .2s ease;
}

.main-header__menu-icon {
    position: relative;
    top: 2px;

    display: inline-block;
    width: 20px;
    height: 2px;

    background-color: #4ca9ff;

    transition: width .2s ease;
}

.main-header__menu-icon::before,
.main-header__menu-icon::after {
    content: '';
    display: block;
    height: 2px;

    background-color: #4ca9ff;

    position: absolute;

    transition: width .2s ease;
}

.main-header__menu-icon::before {
    width: 20px;
    top: -16px;
}

.main-header__menu-icon::after {
    width: 14px;
    top: -8px;
}

.main-header__menu-btn:hover .main-header__menu-text {
    color: #ccc;
}

.main-header__menu-btn:hover .main-header__menu-icon::after {
    width: 20px;
}

.main-header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-header__heading-invisible {
    visibility: hidden;
}

.main-header__heading-visible {
    font-size: 90px;
    font-weight: 300;
    color: #fff;
}

.main-header__scroll-box {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.section-about {
    padding: 100px 0;
}

.section-title {
    font-size: 48px;
    font-weight: 300;
    color: #40485a;

    text-align: center;
}

.section-title::after {
    content: '';
    display: block;

    width: 80px;
    height: 3px;
    margin: 30px auto;

    background-color: #4a24a8;
}

.section-about__title {
    text-align: left;
}

.section-about__title::after {
    margin: 30px 0;
}

.paragraph {
    font-size: 18px;
    padding: 8 16px;
}

.gallery__figure {
    position: relative;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 1);
}

.gallery__ph {
    display: block;
    position: relative;
    width: 100%;
    transform: scale(1.05);
    transition: transform .2s ease,
                opacity .2s ease;
}

.gallery__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 24px;
    color: #eee;
    transition: opacity .3s ease,
                transform .3s ease;
    
    /* Initial state */
    opacity: 0;
    transform: translate(-50%, -50%) translateY(15px);
}

.gallery__figure:hover .gallery__ph {
    transform: scale(1.01);
    opacity: 0.6;
}

.gallery__figure:hover .gallery__caption {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}


/* 
    Section - Features
*/

.section-features {
    padding: 100px 0;
}

.section-features__title {
    margin-bottom: 60px;
}

.card {
    padding: 30px 20px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0);
    transition: box-shadow .3s ease,
                transform .3s ease;
}

.card__img {
    height: 120px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.card__img img {
    display: block;
    margin: 0 auto;
    height: 100%;
    backface-visibility: hidden;
}

.card__title {
    font-size: 18px;
    color: #40485a;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    backface-visibility: hidden;
}

.card__text {
    font-size: 18px;;
    color: #6a707d;
    text-align: center;
    padding: 0 16px;
    backface-visibility: hidden;
}

.card:hover {
    box-shadow: 0 5px 50px rgba(0, 0, 0, .15);
    transform: translateY(-3px) scale(1.09);
}

.link-box {
    text-align: center;
    transition: transform .3s ease;
}

.link-inline {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #4ca9ff;
    border-bottom: 2px solid #4ca9ff;
    padding-bottom: 3px;

    transition: color .3s ease,
                border-bottom .3s ease;
}

.link-box:hover {
    transform: translateY(-3px);
}

.link-inline:hover {
    color: rgba(76, 168, 255, 0.6);
    border-bottom: 2px solid rgba(76, 168, 255, 0.6);
}

/* 
    Section - Mobile App
*/

.section-app {
    padding: 50px 0;
    background-image: radial-gradient(#4723a3, #2a1877);
}

.section-app__description-box {
    margin-top: 80px;
}

.section-app__title {
    font-size: 62px;
    font-weight: 300;
    color: #fff;
}

.section-app__text {
    font-size: 18px;
    color: #cfd2ff;
    padding: 8px 0;
}

.section-app__btn-box {
    margin-top: 60px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    border: none;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 18px;
    color: #fff;
    background-color: #4ca9ff;
    
    border-radius: 100px;
    padding: 12px 32px;

    box-shadow: 0 25px 25px rgba(76, 168, 255, 0.3);
    transition: transform .3s ease,
                box-shadow .3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 30px 35px rgba(76, 168, 255, 0.3);
}

.section-app__image-box {
    padding: 50px 95px;
}

.section-app__photo {
    display: inline-block;
    width: 200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    transition: box-shadow .3s ease,
                transform .3s ease;
}

.section-app__photo--2 {
    position: relative;
    left: 70px;
    top: 20px;
}

.section-app__photo:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 50px rgba(0, 0, 0, .25);
}

.section-app__progress-bar {
    margin-top: 50px;
}

.progress-bar__bar {
    width: 100%;
    height: 1px;

    background-color: #7f5fb8;
    position: relative;
}

.progress-bar__fill {
    width: 22%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    top: -1px;
}

.features-list {
    list-style-type: none;
    padding: 45px 0;
}

.features-list__item-category {
    font-size: 16px;
    text-transform: uppercase;
    color: #cfd2ff;
}

.features-list__item-title {
    font-size: 24px;
    color: #fff;
}
